.chart-container {
    position: relative;
margin-bottom: 50px;
background: #FEFEFE;
box-shadow: 1px 1px 1px 1px rgba(112, 112, 112, 0.36);
}

.chart-container h3{
    padding-left: 4px;
    font-size: 15.5px;
}

.chart {
    position: relative;
}
.yaxis {
    position: absolute;
    width: 20px;
    left: -130px;
}


body {
padding-top: 60px;
padding-bottom: 40px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

.legend {
    position: absolute;
    right: 0;
}

.guages{
    background: #FEFEFE;
    position: absolute;
    right: 4px;
    top: 4px;
}

.guages canvas{
    float: left;
}